.forms {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	background-color: #F4FCFF;
	border: 1px #333333 solid;
	z-index: -1;
	position: center;
}
.tbl1 {
	background-color: #ADD8E6;
}
.tbl2 {
	background-color: #E6E6FA;
}
.bouton {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	background-color: #D4DCFF;
	border: 1px #333333 solid;
	z-index: -1;
}
blockquote {
	font-size: 14px;
	background-color: #DD3333;
	color: #FFFFFF;
}
strike {
	font-family: courier;
	text-decoration: none;
}
.title {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weigth:bold;
	color:#FF3333;
	border: 0px;
	z-index: -1;
	font-style:italic;
}
.overtitle {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 24px;
	color:#3333FF;
	font-weigth:normal;
	border: 0px;
	z-index: -1;
}
.chapo {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weigth:normal;
	border: 0px;
	z-index: -1;
}
.invalidForms {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	background-color: #86A0BA;
	border: 1px #333333 solid
}
p {
	font-family: Verdana;
	font-size: 10px;
	font-style: normal;
	text-align: justify;
}
li {
	font-family: Verdana;
	font-size: 10px;
	font-style: normal
}
.move {  cursor: hand}
.menuItemRaised {
	font-family: Verdana;
	font-size: xx-small;
	font-weight: bold;
	background-image: url(en/images/bt_.gif);
	background-repeat: no-repeat;
	text-align: center;
	vertical-align: middle;
	height: 16px;
	width: 100%;
	text-decoration: none; 
	cursor: hand;
}
.menuItemHighlight {
	font-family: Verdana;
	font-size: xx-small;
	font-weight: bold;
	background-image: url(en/images/bt_o.gif);
	background-repeat: no-repeat;
	text-align: center;
	vertical-align: middle ;
	height: 16px;
	width: 100%
; text-decoration: none; cursor: hand
}
.menuItemPushed {
	font-family: Verdana;
	font-size: xx-small;
	font-weight: bold;
	background-image: url(en/images/bt_d.gif);
	background-repeat: no-repeat;
	text-align: center;
	vertical-align: middle ;
	height: 16px;
	width: 100%
; text-decoration: none; cursor: hand
}
.txtmenu {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 9px; color: #336699; background-color: #CCCCCC}
.btoff {
	font-family: Verdana;
	font-size: xx-small;
	font-weight: bold;
	text-align: center;
	vertical-align: middle ;
	height: 16px;
	width: 100%;
	color: #999999;
	background-color: #CCCCCC
}
.popmenuItemRaised {
	border: 1px solid;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	font-weight: normal;
	color: #000000;
	background-color: Silver;
	clip: rect( );
	border-color: #FFFFFF #000000 #000000 #FFFFFF;
	text-indent : 5;
}
.popmenuItemHighlight {
	border: 1px solid;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	font-weight: normal;
	color: #000000;
	background-color: #86A0BA;
	clip: rect( );
	border-color: #FFFFFF #000000 #000000 #FFFFFF;
	text-indent : 5;
}
.blackdot {
	border: #000000;
	border-style: solid;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px
}
.blackdotbluebg {
	border: #000000;
	border-style: solid;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px ;
	background-color: #A0BFDF
}
.tableh {
	border: 1px solid;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	font-weight: normal;
	color: #000000;
	background-color: #86A0BA;
	clip: rect( );
	border-color: #FFFFFF #000000 #000000 #FFFFFF ;
	height: 16px;
	text-align: center
}
.windowh {
	border: 1px solid;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	font-weight: normal;
	color: #000000;
	background-color: blue;
	clip: rect( );
	border-color: #FFFFFF #000000 #000000 #FFFFFF ;
	height: 16px;
	text-align: center
}
.listItemRaised {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	height: 16px;
	text-indent: 3pt;
}
.listMountedItemRaised {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	height: 16px;
	text-indent: 3pt;
	color: #FF0000;
}
.listItemHighlight  {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	height: 16px ;
	text-indent: 3pt;
	background-color: #CCCCCC;
	color: #336699;
	cursor: hand;
}
.listItemPushed  {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	height: 16px ;
	text-indent: 3pt;
	background-color: #CCCCCC;
	color: #336699;
}

.submenuItemRaised {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	height: 16px;
	font-weight: bold;
	text-indent: 3pt;
	background-color: #FFD18C;
	color: #336699;
	text-align: center;
	vertical-align: middle ;
}
.submenuItemHighlight  {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-weight: bold;
	height: 16px ;
	text-indent: 3pt;
	background-color: orange;
	color: #336699;
	text-align: center;
	vertical-align: middle ;
}
.submenuItemPushed  {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-weight: bold;
	height: 16px ;
	text-indent: 3pt;
	background-color: #CCCCCC;
	color: #336699;
	text-align: center;
	vertical-align: middle ;
}
.info {
	border: none;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-style: normal;
	font-weight: bold;
	color: #993333;
; padding-left: 10px
}
h1 {  font-family: Verdana; font-weight: bold; font-size: 12px; padding-left: 10px}
.arboItemRaised {  font-family: Verdana; background-image: url(en/images/fond_rubok.gif); height: 20px; font-size: 10px; text-indent: 12pt}
.arboItemPushed { font-family: Verdana; background-image: url(en/images/fond_rubon.gif); height: 20px; font-size: 10px; text-indent: 12pt }
.arboItemLinked { font-family: Verdana; background-image: url(en/images/fond_rubex.gif); height: 20px; font-size: 10px; text-indent: 12pt }
.arboItemDisabled { font-family: Verdana; background-image: url(en/images/fond_ruboff.gif); height: 20px; font-size: 10px; text-indent: 12pt }


/* SOUS MENU */
#sub_menu {
    display: block;
    height: 16px;
    text-align: right;
    padding: 5px;
    margin: 0 0 20px 0;
    border: 1px solid #CCC;
}
#sub_menu p { padding: 0; margin: 0; }
#sub_menu h1 {
    float: left;
    font-size: small;
    font-weight: normal;
    padding: 0;
    margin: 0;
}


/* Liens du menu */
a.btlink  {
	width: auto;
	height: 18px;
	font-size: 10px;
	text-decoration: none;
	color: black;
	margin: 2px;
	text-transform: uppercase;
	background: white;
	padding: 3px 8px 3px 8px;
	border-style: solid;
	border-width: 1px;
	border-color: #1590BE;
	vertical-align: middle;
}
a.btlink:link, a.btlink:visited {text-decoration: none; color: black;}
a.btlink:hover, a.btlink:active {text-decoration: none; color: gray;}
