/* -------------------------------------------------------------------- 
                    Formation Web2
                    Atos Worldline
            By Céline Cocatrix, Atos Worldline, 2007
                    Created on 03/2007
-------------------------------------------------------------------- */
/* --------------- DEFAULT VALUES ----------------- */

body {
  width: 100%;
  font: 101% Arial,Helvetica,sans-serif;
  text-align: center;
  color: #000;
  background: #FFF;
  margin: 0 auto;
}

* {padding: 0; margin: 0;}

h1 {
  font-size: 1.5em;
  font-weight: normal;
  font-style: italic;
  text-align: left;
  color: #F90;
  padding: 25px;
}
h2 {
  font-size: 0.9em;
  color: #1590BE;
  background: transparent;
  margin: 0 0 15px 0;
}
p {font-size: 0.8em; text-align: left; margin:2px}

form {
  width: 50%;
  text-align: center;
  margin: 0 auto;
  border-top: 1px dashed #F90;
}
fieldset {padding: 15px 0; border: 0; border-bottom: 1px dashed #F90;}
label {
  float: left;
  width: 40%;
  font-weight: bold;
  text-align: right;
  color: #1590BE;
  background: transparent;
  padding-right: 1.5%;
}

ol {text-align: left; padding: 0 10px 0 10px; margin: 10px 0 10px 25px; list-style-type: lower-latin;}
li {color: #000; background: #FFF; padding: 3px 0;}

/* --------------- STRUCTURAL & MAIN BLOCKS ----------------- */

/* --- HEADER --- */
#header {
  text-align: center;
  color: #000;
  background: #FFF;
  margin: 0 auto 3% auto;
  border-bottom: 5px solid #F90;
}

#menu {
  float: left;
  text-align: left;
  color: #000;
  background: #FFF;
  margin: 2px 2px 2px 2px;
  border: 1px dotted gray;
}

#logout {
	float: right; 
	padding: 5px 25px 10px 0;
}

#main {
  width: 50%;
  text-align: left;
  margin: 0 auto;
  border-top: 1px dashed #F90;
}

/* --- LOGO --- */
#logo {float: left; width: 154px; padding: 5px 25px 10px 0; }

.footer {
	padding: 15px 0; border-top: 1px dashed #F90;
}

.overtitle {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 24px;
	color:#3333FF;
	font-weigth:normal;
	border: 0px;
	z-index: -1;
}

/* ----------------------- FORMS SPECIFCS & EXCEPTIONS  -------------------- */

/* Submit button */
#btSubmit {
  font-weight: bold;
  text-transform: uppercase;
  color: #FFF;
  background: #f29400;
  padding: 3px 8px;
  border: 1px outset #000;
  cursor: pointer;
}
#btSubmit:hover {
  color: #FFF;
  background: #F90;
  border: 1px inset #000;
}

/* gives a span the same properties of a label */
.lbLike {
  float: left;
  width: 40%;
  font-weight: bold;
  text-align: right;
  color: #1590BE;
  background: transparent;
  padding: 15px 10px 0 0;
}
/* makes label turn to a simple span text */
label.lbNone {
  float: none;
  width: auto;
  font-weight: normal;
  text-align: left;
  color: #000;
  background: transparent;
  padding: 0;
}

/* Specific fiedlsets */
#fsGeneral {
  color: inherit;
  background: #fcfce3;
  padding-bottom: 15px;
  border-bottom: 1px dashed #F90;
}
#fsGeneral p {padding-top: 15px;}

#fsSubmit {padding-left: 42%; border: 0;}

p.pForm {
  width: 50%;
  text-align: center;
  margin: 0 auto;
  margin-top: 1px;
  border-top: 1px dashed #F90;
}

/* form comments */
span.commts {font-style: italic; color: #f29400;}

.forms {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	background-color: #F4FCFF;
	border: 1px #333333 solid;
	z-index: -1;
	position: center;
}
.tbl1 {
	background-color: #ADD8E6;
}
.tbl2 {
	background-color: #E6E6FA;
}

.tableh {
	border: 1px solid;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	font-weight: normal;
	color: #000000;
	background-color: #86A0BA;
	clip: rect( );
	border-color: #FFFFFF #000000 #000000 #FFFFFF ;
	height: 16px;
	text-align: center
}

/* Liens du menu */
a.btlink  {
	width: auto;
	height: 18px;
	font-size: 10px;
	text-decoration: none;
	color: black;
	margin: 2px;
	text-transform: uppercase;
	background: white;
	padding: 3px 8px 3px 8px;
	border-style: solid;
	border-width: 1px;
	border-color: #1590BE;
	vertical-align: middle;
}
a.btlink:link, a.btlink:visited {text-decoration: none; color: black;}
a.btlink:hover, a.btlink:active {text-decoration: none; color: gray;}
